<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %X{CORRELATION_ID} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name = "dev">
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    </springProfile>
</configuration>